
body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;    
    gap: 20px;
}


.container {
    background: #37afff;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;     
}

.title {
    font-size: 14px;
    margin-bottom: 10px;
    color: #000000;
    text-align: center;    
}


.grid-container {
    display: grid;
    gap: 10px;
    width: 250px;
    height: 250px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.grid-container > div {
    background-color: #ff0000;
    border-radius: 4px;
}

.kub1-1 { grid-column: 1; grid-row: 1; }
.kub1-2 { grid-column: 2 / 4; grid-row: 1; }
.kub1-3 { grid-column: 1 / 3; grid-row: 2; }
.kub1-4 { grid-column: 3; grid-row: 2; }
.kub1-5 { grid-column: 1 / 4; grid-row: 3; }

/* ===== МАКЕТ 2 ===== */
.kub2-1 { grid-column: 1; grid-row: 1 / 3; }
.kub2-2 { grid-column: 2 / 4; grid-row: 1; }
.kub2-3 { grid-column: 2; grid-row: 2; }
.kub2-4 { grid-column: 3; grid-row: 2; }
.kub2-5 { grid-column: 1 / 4; grid-row: 3; }

/* ===== МАКЕТ 3 ===== */
.kub3-1 { grid-column: 1 / 3; grid-row: 1; }
.kub3-2 { grid-column: 3; grid-row: 1; }
.kub3-3 { grid-column: 1; grid-row: 2; }
.kub3-4 { grid-column: 2 / 4; grid-row: 2; }
.kub3-5 { grid-column: 1 / 3; grid-row: 3; }
.kub3-6 { grid-column: 3; grid-row: 3; }

/* ===== МАКЕТ 4 ===== */
.kub4-1 { grid-column: 1; grid-row: 1; }
.kub4-2 { grid-column: 2 / 4; grid-row: 1 / 3; }
.kub4-3 { grid-column: 1; grid-row: 2; }
.kub4-4 { grid-column: 1; grid-row: 3; }
.kub4-5 { grid-column: 2; grid-row: 3; }
.kub4-6 { grid-column: 3; grid-row: 3; }

/* ===== МАКЕТ 5 ===== */
.kub5-1 { grid-column: 1 / 3; grid-row: 1 / 3; }
.kub5-2 { grid-column: 3; grid-row: 1; }
.kub5-3 { grid-column: 3; grid-row: 2; }
.kub5-4 { grid-column: 1; grid-row: 3; }
.kub5-5 { grid-column: 2; grid-row: 3; }
.kub5-6 { grid-column: 3; grid-row: 3; }